# encoding: utf-8

<main class="new-gold-standard">
  <h1>Enregistrer une nouvelle identite</h1>
  <% if flash[:status] %>
    <section class="status-message <%= flash[:status_color] %>">
      <h2><%= flash[:status] %></h2>
    </section>
  <% end %>
  <%= render 'search_form' %>
</main>


<%= javascript_include_tag "page_specific/gold_standard_new", "data-turbolinks-track" => true %>
