# encoding: utf-8

<main class="new-idp-trajectory">
  <h1>A new stop on ___'s trajectory</h1>
  <% if flash[:status] %>
    <section class="status-message <%= flash[:status_color] %>">
      <h2><%= flash[:status] %></h2>
    </section>
  <% end %>
  <%= render 'trajectory_form' %>
</main>


<%= javascript_include_tag "page_specific/gold_standard_new", "data-turbolinks-track" => true %>
