<h2>Index</h2>

<ul>
  <% iom_identities.each(function(iom_identity){ %>
    <li><%= iom_identity.get("first_name") %> : <%= iom_identity.get("sex") %></li>
  <% }); %>
</ul>


<button class="refresh">Refresh</button>