/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body, main, section, h1, h2, h3, ul, li {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: #eee;
  min-width: 970px;
}
  

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}


nav.navbar {
  border: 2px solid #777;
}

a.navlink {
  display: block; 
  float: left;
  padding: 5px 15px 5px 15px;
  border-right: 2px solid #777;
  text-decoration: none;
}

a.navlink:hover {
  text-decoration: underline;
  background: #ccc;
}

.blurred {
  -webkit-filter: blur(0.8px);
  color: grey;
}

.simple_form .field_with_errors .error {
  background-color: #f15e5e;
  border: 1px solid #d61313;
  border-bottom-left-radius: 0.1875em;
  border-bottom-right-radius: 0.1875em;
  display: block;
/*  font-weight: bold;*/
  padding-left: 5px;
  padding-right: 3px;
  font-size: 80%;
  margin-bottom: 1em;
  text-align: left;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
}

section.current-status {
  position: absolute;
  top: 35px;
  left: 10px;
}