section.status-message#recon {
  display: block;
  width: 400px;
  margin: 30px auto;
  padding: 10px;
  background: #eee;
}

section.success-green#recon{
  background: #77CF61;
}

section.failure-red#recon  {
  background: red;
}

main.find-matches-page {
  width: 900px;
  height: 550px;
  border: 3px solid #777;
  margin: 40px auto;



  section.success-green {
    background: #77CF61;
  }

  section.failure-red {
    background: red;
  }

  h1 {
    margin-left: 5px;
    font-size: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  ul#matches-list,
  ul#reconciliations-list,
  ul#household-list{

    overflow: hidden;
    overflow-y:scroll;

    a {
     text-decoration: none;
     color: #000;
    }

    li {
      border-bottom: 1px solid #ccc;
      padding: 2px 2px;
      h3 {
        font-size: 16px;
      }

      div.identity-cell-row {
        width: 50%;
        float: left;
        div.identity-cell-text {
        }
      }

      font-size: 14px;
    }

    li.already-selected {
      color: #666;
    }

    li:hover {
      background: #ccc;
    }

    li.featured {
      background: #6698FF;
    }

    li.featured.already-selected {
      background: #6B9DFF;
    }
  }

  section.search-column,
  section.display-info-column,
  section.household-and-submit-column {
    height: 100%;
    float: left;
  }

  section.search-column,
  section.display-info-column {
    border-right: 1px solid #777;
  }

  section.search-column {
    width: 328px;

    section.search-bar,
    section.matching-results {
     height: 49.3%;
    }

    section.search-bar{
      font-size: 70%;
      position: relative;

      div.row {
        margin-left: 5px;
        div.input {
          float: left;
          margin-right: 5px;
          margin-bottom: 5px;

          label {
            display: block;
          }
          input, select {
            margin-left: 0;
            max-width: 90px;
          }
        }

      }

      input.search-button {
        position: absolute;
        width: 60px;
        bottom: 5px;
        right: 5px;
      }

      input.register-button {
        position: absolute;
        width: 70px;
        bottom: 5px;
        left: 5px;
      }
    }

    section#found-matches {
      border-top: 1px solid #777;

      ul#matches-list {
       max-height: 275px;
      }
    }
  }

  section.display-info-column {
    width: 328px;
    section#featured-identity {
      height: 45%;
      border-bottom: 1px solid #777;
      font-size: 14px;
      padding-left: 3px;
      h2 {
       font-size: 16px;
      }


      div.left-bio {
      }

      div.right-bio {
      }
    }

    section#matches {

      ul {
        height: 255px;
      }

    }
  }



  section.household-and-submit-column {
    width: 238px;

    section#household {
      height: 75%;
      ul#household-list {
       max-height: 413px;
       list-style: none;

       h3 {
        font-size: 16px;
       }

       div {
        font-size: 94%;
       }

      }
    }

    section#reconcile {
      border-top: 1px solid #777;
      position: relative;
      font-size: 13px;
      p {
        margin-top: 0;
        margin-left: 5px;
      }

      input.submit-button {
        position: absolute;
        top: 50px;
        left: 60px;
      }
    }

  }

}