// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main.new-gold-standard {
  padding: 20px 50px 20px 50px;
  
  h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: normal;
  }
  
  section.status-message {
    display: block;
    width: 400px;
    margin: 10px auto;
    background: #ccc;
    padding: 10px;
    
    h2 {
      text-align: center;
      font-size: 18px;
      font-weight: 100;
    }
  }
  
  section.success-green {
    background: #77CF61;
  }
  
  section.failure-red {
    background: red;
  }
  
  form {
    
    div.inputs-container {
      border: 2px solid #777;
      padding: 10px;
      min-width: 600px;
      
      div.row {
      
        margin-bottom: 15px;
      
        div.input {          
         float: left; 
         margin-right: 20px;
        
        
         label {
           display: block;
         }
         
         input {
           margin: 0;
         }
         
         input[type="checkbox"] {
           margin-right: 5px;
         }
         
         select {
           margin-left: 0;
         }

        
        }
        
        div.gold_standard_identity_alternate_village {
          label {
           display: inline;
           margin-right: 5px;
          }
      
        }
        
      }
    
    
      input.btn {
        float: right;
        font-size: 18px;
      }
    
    }
    
  }
}
