<nav class="navbar clearfix">
  <% if session[:signed_in] %>
  <a href="<%= sign_out_url %>" class="navlink">
    Se déconnecter
  </a>
  <% else %>
  <a href="<%= new_session_url %>" class="navlink">
    Session
  </a>
  <% end %>
  <a href="<%= new_gold_standard_identity_url %>" class="navlink">
    Register New Identity
  </a>
  <a href="<%= gold_standard_identities_url %>.csv" class="navlink">
    Download Current CSV
  </a>
</nav>